server:
  port: ${SERVER_PORT:8094}

spring:
  application:
    name: inventory-service
  threads:
    virtual:
      enabled: true
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:postgres}:${POSTGRES_PORT:5432}/${POSTGRES_DB:dundermifflin}
    username: ${POSTGRES_USER:dundermifflin}
    password: ${POSTGRES_PASSWORD:bears_beets_battlestar}
  flyway:
    enabled: true
    default-schema: inventory
    baseline-on-migrate: true
    locations: classpath:db/migration
  rabbitmq:
    host: ${RABBITMQ_HOST:rabbitmq}
    port: ${RABBITMQ_AMQP_PORT:5672}
    username: ${RABBITMQ_DEFAULT_USER:dunder}
    password: ${RABBITMQ_DEFAULT_PASS:mifflin}
    virtual-host: ${RABBITMQ_VHOST:/}

inventory:
  messaging:
    exchange: ${RABBITMQ_EXCHANGE:dm.domain.events}
    order-events-queue: ${INVENTORY_ORDER_EVENTS_QUEUE:inventory.order-events.q}

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus
  endpoint:
    health:
      probes:
        enabled: true
