server:
  port: ${SERVER_PORT:8095}

spring:
  application:
    name: finance-service
  threads:
    virtual:
      enabled: true
  datasource:
    url: jdbc:postgresql://${POSTGRES_HOST:postgres}:${POSTGRES_PORT:5432}/${POSTGRES_DB:dundermifflin}
    username: ${POSTGRES_USER:dundermifflin}
    password: ${POSTGRES_PASSWORD:bears_beets_battlestar}
  flyway:
    enabled: true
    default-schema: finance
    baseline-on-migrate: true
    locations: classpath:db/migration

management:
  endpoints:
    web:
      exposure:
        include: health,prometheus
  endpoint:
    health:
      probes:
        enabled: true
